# Dependencies
node_modules/

# Production build
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.production
.env.local

# Local database store & logs
data/local_database.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
